<!-- /templates/page.liquid -->
<div class="grid--full text-max-width">
  <div>
    <div class="text-center content-wrapper--horizontal section-header">
      <div class="display-table-cell">
        <h1 class="header-image">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <div>
    <div class="text-center donations content-wrapper--horizontal section-header">
	  <img class="donation-logo" src="{{ 'KlinkhartHall-min.jpg' || asset_url }}" alt="" />
      Send some love to a Neighbor while supporting our Neighbors.
      We'll be donating all video proceeds to the Klinkhart Hall Arts Center, Inc., a not-for-profit in Sharon Springs.
    </div>
  </div>
  <div>
    <div class="rte">

      <div class="the-guys">
      
        <div class="brent">
          <a href="/products/a-valentines-message-from-brent">
            The K-Pop Super Fan<br />
          	<img src="{{ 'valentines-day-video-brent.png' || asset_url }}" alt="" />
            <span class="button">Book Now</span>
            <span class="available">45 Total Videos Available *</span>
          </a>
        </div>
        <div class="josh">
          <a href="/products/a-valentines-message-from-josh">
            The Bad Boy Next Door<br />
	        <img src="{{ 'valentines-day-video-josh.png' || asset_url }}" alt="" />
            <span class="button">Book Now</span>
            <span class="available">45 Total Videos Available *</span>
          </a>
        </div>
        <div class="farmer-john">
          <a href="/products/a-valentines-message-from-farmer-john">
            The Cute One<br />
	        <img src="{{ 'valentines-day-video-farmer-john.png' || asset_url }}" alt="" />
            <span class="button">Book Now</span>
            <span class="available">10 Total Videos Available *</span>
          </a>
        </div>
        
      </div>
            
    </div>
   </div>
  <div>
    <div class="text-center conditions content-wrapper--horizontal section-header">
      *Beekman 1802, Inc. reserves the right to reject any requests deemed inappropriate, explicit, damaging or go against the values of Beekman 1802. In addition, Beekman 1802 reserves the right to decline requests that may be construed as endorsements or advertisements. Terms and conditions apply.
    </div>
  </div>
</div>
