<div class="rte">
  {% section 'the_store' %}

  {% assign events = page.metafields.accentuate.upcoming_events_list | split: "|" %}
  {% if events.size > 0 %}
  <div class="events-wrap">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center mt-5">
          <h2 class="events_heading">{{ page.metafields.accentuate.events_heading }}</h2>
        </div>
        <div class="col-12 mb-5 pb-5 text-center">
          <p class="events_text">{{ page.metafields.accentuate.events_text }}</p>
        </div>
      </div>
      <div class="row">
        {% if page.metafields.accentuate.ad_artisan_name != blank %}
          <h2 class="section__title col-12">{{ page.metafields.accentuate.ad_artisan_name | escape }}'s Events</h2>
        {% endif %}

        {% assign counter = 0 %}
        {% for item in events %}
          {% unless counter > 2 %}
          {% assign counter = counter | plus:1 %}
          {% assign product = all_products[item] %}
            <div class="event-list-item col-12 col-md-4">
              <div class="event__wrap">
                {% if product.metafields.accentuate.event_image != blank %}
                  <div class="event__image">
                    <img src="{{ product.metafields.accentuate.event_image }}"/>
                  </div>
                {% else %}
                  <div class="event__image">
                    <img src="https://via.placeholder.com/300"/>
                  </div>
                {% endif %}
                <span class="date">
                <span class="d_wrap">
                  <span class="month">{{ product.metafields.accentuate.event_date | date: "%b" }}</span>
                  <span class="day">{{ product.metafields.accentuate.event_date | date: "%d" }}</span>
                </span>
              </span>
                <div class="tile_ttl">{{ product.metafields.accentuate.event_heading }}</div>
                <div class="price">
                  {% if product.price == 0 %}
                    Free
                  {% else %}
                    {{ product.price | money }}
                  {% endif %}
                </div>
                <h3>{{ product.metafields.accentuate.event_location }}</h3>
                <a href="/pages/{{ product.metafields.accentuate.event_detail_page }}" class="learn__more">Learn More</a>
              </div>
            </div>
          {% endunless %}
        {% endfor %}

      </div>
    </div>
  </div>
  {% endif %}
</div>