{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% comment %}Replace the add to cart button if a specific tag exists{% endcomment %}

{% for block in section.blocks %}
  {% if block.type == 'trigger' %}
    {% if product.tags contains block.settings.plus_trigger_tag %}
      {% assign add_to_cart_replacement = block.settings.plus_replacement_html %}
    {% endif %}
  {% else %}
    {% assign product_tabs = true %}
  {% endif %}
{% endfor %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% unless hide_on_sale_badge %}
    {% assign on_sale = true %}
  {% endunless %}
{% endif %}

{% assign hasFeaturedImage = false %}
{% if product.selected_or_first_available_variant.featured_image %}
  {% assign hasFeaturedImage = true %}
{% endif %}

{% capture lightbox %}
  <div class="product-lightbox" data-product-lightbox>
    <button class="product-lightbox-button close" data-product-lightbox-button="close"><svg><use xlink:href="#icon-close"></use></svg></button>
    {% for image in product.images %}
      <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
    {% endfor %}
  </div>
{% endcapture %}


<div
  id="product-outer-container"
  itemscope
  itemtype="http://schema.org/Product"
  data-product="{{ product | json | escape }}"
  {% if hasFeaturedImage %}
  data-initial-image-position="{{ product.selected_or_first_available_variant.featured_image.position | json | minus: 1 }}"
  {% endif %}
  data-money-format="{{ shop.money_with_currency_format }}"
  data-shop-default-currency="{{ shop.currency }}"
  data-product-options-size="{{ product.options.size }}"
  data-product-options-first="{{ product.options.first }}"
  data-product-variants-size="{{ product.variants.size }}"
  data-product-variants-first="{{ product.variants.first.title }}"
>
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}
  <div class="grid--full product-single product-subscription">
    <div class="breadcrumb-wrapper content-wrapper--squished content-wrapper--half-top medium-down--text-center medium-down--hide">{% include 'breadcrumb' %}</div>

    <div class="grid__item xxlarge--two-thirds xlarge--three-fifths large--one-half text-center" id="PhotoContent" style="background-color:{{ section.settings.product-image-background }}">

      {% if section.settings.image_layout_style == "stacked_images" or section.settings.image_layout_style == "stacked_images_sticky_sidebar" %}
        <div class="product-single__photos large--one-whole medium-down--hide pinbuttonimage" id="ProductPhoto" data-product-images="stacked">
          {% for image in product.images %}
          {% include 'pin-button' %}
            <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}" id="ProductPhotoImg-{{ forloop.index }}">
          {% else %}
            <img src="//cdn.shopify.com/s/images/themes/product-1.png" class='default-image placeholder-image'>
          {% endfor %}
        </div>
      {% else %}
        {% if product.images.size > 1 %}
          <div class="product-multiple__photos large--one-tenth medium-down--hide" id="ProductThumbs">
            {% for image in product.images %}
              <button class="product-thumbnail-button" data-product-thumbnail>
                <img src="{{ image | img_url: '200x' }}" data-high-res="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
              </button>
            {% endfor %}

            {{ lightbox }}
          </div>
        {% endif %}

        <div class="product-single__photos {% if product.images.size > 1 %}large--nine-tenths{% else %}large--one-whole{% endif %} medium-down--hide" id="ProductPhoto">
          {% if product.featured_image %}
            {% assign featured_image = product.featured_image %}
            <img src="{{ featured_image | img_url: 'master' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg" data-image-position="1">
            <button class="product-lightbox-button-open" data-product-lightbox-button="open"><span class="product-lightbox-button open"><svg><use xlink:href="#icon-glass"></use></svg></span></button>
            {{ lightbox }}
          {% else %}
            <img src="//cdn.shopify.com/s/images/themes/product-1.png" class='default-image placeholder-image'>
          {% endif %}
        </div>
      {% endif %}

      {% comment %}
        Now create the mobile slideshow.
      {% endcomment %}

      <div class="large--hide product-single__photos" id="ProductPhotoSlideshow">
        {% assign featured_image = product.featured_image %}
        <img src="{{ featured_image | img_url: 'master' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg" data-variant-id="{{ featured_image.variants.first.id }}">
        {% if product.images.size > 1 %}
          {% for image in product.images %}
            {% unless image == featured_image %}
              {% if image.attached_to_variant? %}
                {% assign variantIDs = image.variants | map: 'id' | join: '-' %}
                <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}" data-variant-id="{{ variantIDs }}" class='attached-to-variant' id="{{ variantIDs }}">
              {% else %}
                <img src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}" class='not-attached-to-variant'>
              {% endif %}
            {% endunless %}
          {% endfor %}
        {% endif %}

        {% comment %}
          Make sure the default, non-variant featured image is shown
          if the user is accessing the URL from a variant URL.
        {% endcomment %}

        {% unless product.featured_image == featured_image %}
          <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-unless='unlessupinhere' >
        {% endunless %}
                
      </div>
      
      <div class="pinbuttonimage2 large--hide">
      {% include 'pin-button' %}
      </div>
      
    </div>

    <div class="grid__item xxlarge--one-third xlarge--two-fifths large--one-half {% if section.settings.image_layout_style == 'stacked_images_sticky_sidebar' %}sticky-sidebar{% endif %}" id='sidebarColumn'>
      <div class="sidebarColumn-inner">
        <div class="content-wrapper--title js-fix-on-scroll--target fix-on-scroll--large-only">
          <h1 itemprop="name" class='medium-down--text-center product-title'>{{ product.title }}</h1>
         <div class="yotpo bottomLine"
  data-product-id="{{ product.id }}">
</div>
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

            {% comment %}
              ID addToCartForm is a selector for the ajax cart plugin
            {% endcomment %}

            <form action="/cart/add" data-productid="{{ product.id }}" data-productid="{{product.id}}" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical"> 
{% if product.available %}{% include 'subscription-product' %}{% endif %} 
              <p class="medium-down--text-center">
                <span id="ProductPrice" class='faded medium-down--text-center' itemprop="price">
                  {{ current_variant.price | money }}
                </span>
                {% if product.compare_at_price_max > product.price %}
                  <span id="ComparePrice" class='strikethrough faded medium-down--text-center'>
                    {{ current_variant.compare_at_price | money }}
                  </span>
                {% endif %}
              </p>

              {% comment %}
                Add product variants as a dropdown.
                  - By default, each variant (or combination of variants) will display as its own <option>
                  - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

                You can leverage jQuery to add a callback on page load and each time the select element changes:
                  - Include option_selection.js (as seen at the bottom of this file)
                  - This allows you to use JavaScript anytime the variant dropdown changes
                  - This also separates out your variant options (ie. size, color, etc.) to separate select elements

                For more information on products with multiple options, visit:
                  - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
              {% endcomment %}

              <div class="product-selectors">
                <div class="variants">
                  <select name="id" data-productid="{{ product.id }}" data-productid="{{product.id }}" id="productSelect" class="product-single__variants">
                    {% for variant in product.variants %}
                      {% if variant.available %}

                        {% comment %}
                          Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                        {% endcomment %}

                          {%unless variant.metafields.secomapp.freegifts %}
                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                          {%endunless%}


                    {% else %}
                        <option disabled="disabled">
                          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                        </option>
                      {% endif %}
                    {% endfor %}
                  </select>
  <div class="w3-product-options" data-product-id="{{product.id}}" data-tags="{{ product.tags | join: ", " }}"></div>
                  {% if add_to_cart_replacement %}
                    {{ add_to_cart_replacement }}
                  {% else %}
                    <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                    <button type="submit" name="add" id="AddToCart" class="btn add-btn">
                      <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                    </button>
                  {% endif %}
                </div>
              </div>

            </form>
          </div>

          {% if product_tabs %}
            <section class="product-tabs" {{ block.shopify_attributes }}>

              <ul class="product-tab-wrapper">
                <li class="product-tab {% if section.settings.expand_first_tab %}active{% endif %}" data-product-tab>
                  <button class="product-tab-title" data-product-tab-title>{{ "products.product.description" | t }}</button>
                  <div class="product-description rte product-tab-content" itemprop="description" data-product-tab-content>
                    <div data-product-tab-content-inner>{% include 'product-description-slider' %}</div>
                    <button class="product-tab-read-more hidden" data-read-more="{{ 'products.product.read_less' | t }}">{{ "products.product.read_more" | t }}</button>
                  </div>
                </li>

                {% for block in section.blocks %}
                  {% if block.type == "tab" %}
                    <li class="product-tab" data-product-tab>
                      <button class="product-tab-title" data-product-tab-title>{{ pages[block.settings.product_tab_page].title }}</button>
                      <div class="product-returns product-tab-content rte" data-product-tab-content>
                        <div data-product-tab-content-inner>{{ pages[block.settings.product_tab_page].content }}</div>
                        <button class="product-tab-read-more hidden" data-read-more="{{ 'products.product.read_less' | t }}">{{ "products.product.read_more" | t }}</button>
                      </div>
                    </li>
                  {% elsif block.type == "share" %}
                    <li class="product-tab" data-product-tab>
                      <button class="product-tab-title" data-product-tab-title>{{ "general.share.share_this" | t }}</button>

                      <div class="product-tab-content rte" data-product-tab-content>
                        {% if block.settings.share_facebook %}
                          {% assign facebook = true %}
                        {% endif %}
                        {% if block.settings.share_pinterest %}
                          {% assign pinterest = true %}
                        {% endif %}
                        {% if block.settings.share_google %}
                          {% assign google = true %}
                        {% endif %}
                        {% if block.settings.share_twitter %}
                          {% assign twitter = true %}
                        {% endif %}
                        {% if block.settings.share_tumblr %}
                          {% assign tumblr = true %}
                        {% endif %}

                        <div id="shareBox">
                          {% if facebook %}
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}" target="_blank" class='facebook'>
                              <button>
                                <div class="icon-fallback-text">
                                  <span class="icon icon-facebook"></span>
                                  <span class="fallback-text">Facebook</span>
                                 </div>
                              </button>
                            </a>
                          {% endif %}
                          {% if pinterest %}
                            <a href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media={{ featured_image | img_url: 'large' }}&description={{ featured_image.alt | escape }}" target="_blank" class='pinterest'>
                              <button>
                                <div class="icon-fallback-text">
                                  <span class="icon icon-pinterest"></span>
                                  <span class="fallback-text">Pinterest</span>
                                </div>
                              </button>
                            </a>
                          {% endif %}
                          {% if google %}
                            <a href="https://plus.google.com/share?url={{ shop.url }}{{ product.url }}" target="_blank" class='google'>
                              <button>
                                <div class="icon-fallback-text">
                                  <span class="icon icon-google-plus"></span>
                                  <span class="fallback-text">Google</span>
                                </div>
                              </button>
                            </a>
                          {% endif %}
                          {% if twitter %}
                            <a href="https://twitter.com/intent/tweet?url={{ shop.url }}{{ product.url }}&text={{product.title}}" target="_blank" class='twitter'>
                              <button>
                                <div class="icon-fallback-text">
                                  <span class="icon icon-twitter"></span>
                                  <span class="fallback-text">Twitter</span>
                                </div>
                              </button>
                            </a>
                          {% endif %}
                          {% if tumblr %}
                            <a href="http://www.tumblr.com/share/link?url={{shop.url}}{{product.url}}" target="_blank"  class='tumblr'>
                              <button>
                                <div class="icon-fallback-text">
                                  <span class="icon icon-tumblr"></span>
                                  <span class="fallback-text">Tumblr</span>
                                </div>
                              </button>
                            </a>
                          {% endif %}
                        </div>
                      </div>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>

            </section>
          {% else %}
            <div class="product-description rte" id="description" itemprop="description">
              {% include 'product-description-slider' %}
            </div>
          {% endif %}
         </div>
      </div>
    </div>
  </div>
    
<div class="recomatic-code" style="clear: both;">
	<h2 class="title" style="font-family: 'IM Fell English',serif; font-weight: 700; color: #222; margin: 0 0 0.5rem; line-height: 1.4; text-align: center; margin-bottom: 1em; margin-top: 0.5em;">Neighbors who bought this item also purchased</h2>
    <div recomatic="product" shop="{{shop.permanent_domain}}" product_id="{{product.id}}"></div>
</div>

<div class="yotpo yotpo-slider" data-product-id="{{ product.id }}"></div>
    


  {% if section.settings.product_related %}
    {% include "product-related" %}
  {% endif %}
</div>

{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

{% schema %}
  {
    "name": "Product pages",
    "class": "product-pages",
    "settings": [
      {
        "type": "color",
        "id": "product-image-background",
        "label": "Image background color",
        "default": "#F9F9F9"
      },
      {
        "type": "checkbox",
        "id": "product_related",
        "label": "Show related products"
      },
      {
        "type": "select",
        "id": "image_layout_style",
        "label": "Image layout style",
        "options": [
          {
            "value": "thumbnails",
            "label": "Thumbnails"
          },
          {
            "value": "stacked_images",
            "label": "Stacked images"
          },
          {
            "value": "stacked_images_sticky_sidebar",
            "label": "Stacked images with sticky sidebar"
          }
        ],
        "default": "thumbnails"
      },
      {
        "type": "checkbox",
        "id": "expand_first_tab",
        "label": "Expand first tab when sidebar is sticky"
      }
    ],
    "blocks": [
      {
        "type": "trigger",
        "name": "Add To Cart Replacement",
        "settings": [
          {
            "type": "text",
            "id": "plus_trigger_tag",
            "label": "If the product contains this tag"
          },
          {
            "type": "html",
            "id": "plus_replacement_html",
            "label": "Replace the Add To Cart button with this HTML"
          }
        ]
      },
      {
        "type": "tab",
        "name": "Tab",
        "settings": [
          {
            "type": "page",
            "id": "product_tab_page",
            "label": "Select page as tab content"
          }
        ]
      },
      {
        "type": "share",
        "name": "Share buttons",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "share_facebook",
            "label": "Facebook"
          },
          {
            "type": "checkbox",
            "id": "share_pinterest",
            "label": "Pinterest"
          },
          {
            "type": "checkbox",
            "id": "share_google",
            "label": "Google Plus"
          },
          {
            "type": "checkbox",
            "id": "share_twitter",
            "label": "Twitter"
          },
          {
            "type": "checkbox",
            "id": "share_tumblr",
            "label": "Tumblr"
          }
        ]
      }
    ]
  }
{% endschema %}
  
{% javascript %}
// functions go here --------------------------------------
// detect change in the variant radio buttons
function changeVariantChoice($){
  
  	$('.variant label').on( 'click', function(evt) {

  		var isChecked = $(this).parent().hasClass('checked');
		console.log( 'isChecked', isChecked );
		$('.variant').removeClass('checked');
		if( isChecked ){
			// don't do anything
			$(this).parent().addClass('checked');
  		}else{
			$(this).parent().addClass('checked');
  			var forID = $( this ).attr( 'for' );
  			console.log( 'forID', forID );
  			$('#productSelect').val( forID );

  		}

  	});
  
}	// end changeVariantChoice()

function addToCart($){

	console.log( 'ready - 015' );
  	// fill the fields for testing
//	$('#first_name').val( 'John' );
//	$('#last_name').val( 'Smith' );
// 	$('#street_address1').val( '123 Main Street' );
//	$('#state').val( 'NY' );
//	$('#postal_code').val( '12208' );

	$('.add-btn').on('click', function(e) {
		e.preventDefault();
		console.log( 'click' );
  
		var form = $('#AddToCartForm');
		$("input.required, select.required").removeClass("invalid");

        var emptyFields = $('input.required').filter(function() {
        	return $(this).val() === "";
      	}).length;

		// check for value from the "state" selectbox
		var stateSelected = $('#state').val();
		if( !stateSelected )
			emptyFields++;

		// if there are no empty requied fields, build and push the used to the checkout URL
		if( emptyFields > 0 ){

			// check the required inputs and select boxes and if empty, change BG color
			$("input.required, select.required").each( function() {
  				var value = $(this).val();
				if( value === '' )
					$(this).addClass("invalid");
  			});
        	return false;

        }else{

  			// get some values from the form
  			var productSelect = $('#productSelect').val();
  			var quantity = $('#Quantity').val();
  			var subscriptionID = $('input[name="properties[subscription_id]"]').val();
  			var shipping_interval_frequency = $('input[name="properties[shipping_interval_frequency]"]').val();
  			var shipping_interval_unit_type = $('input[name="properties[shipping_interval_unit_type]"]').val();

  			addItemToCart( productSelect, quantity, shipping_interval_frequency, shipping_interval_unit_type, subscriptionID );
  
		}

	})
  
}	// end addToCart()

function addItemToCart( variant_id, quantity, shipping_interval_frequency, shipping_interval_unit_type, subscription_id ){

	var first_name = $('#first_name').val();
  	var last_name = $('#last_name').val();
  	var street_address1 = $('#street_address1').val();
  	var street_address2 = $('#street_address2').val();
  	var state = $('#state').val();
  	var postal_code = $('#postal_code').val();
	var country = $('#country').val();

	data = {
		"quantity": quantity,
		"id": variant_id,
		"properties[shipping_interval_frequency]": shipping_interval_frequency, 
		"properties[shipping_interval_unit_type]": shipping_interval_unit_type,            
		"properties[subscription_id]": subscription_id,
		"properties[First Name]": first_name,
		"properties[Last Name]": last_name,
		"properties[Street Address 1]": street_address1,
		"properties[Street Address 2]": street_address2,
		"properties[State]": state,
		"properties[Postal Code]": postal_code,
		"properties[Country]": country
    }
	console.log( data );

	jQuery.ajax({
		type: 'POST',
		url: '/cart/add.js',
		data: data,
		dataType: 'json',
		success: function() {
		//	window.location.href = '/cart';
  			reChargeProcessCart();
		}
	});


}	// end addItemToCart()

function reChargeProcessCart(){

	console.log('reChargeProcessCart');

	function get_cookie(name){ return( document.cookie.match('(^|; )'+name+'=([^;]*)')||0 )[2] }
	do {
		token=get_cookie('cart');
	}
	while(token == undefined);

	var myshopify_domain = $('.product-wrap').data('shop-domain');
	console.log( 'myshopify_domain', myshopify_domain );

	try { var ga_linker = ga.getAll()[0].get('linkerParam') } catch(err) { var ga_linker ='' }

	var customer_id = $('.product-wrap').data('customer_id');
	var customer_email = $('.product-wrap').data('customer_email');
	var customer_param = '';
  	if( customer_id != '' ) customer_param += 'customer_id='+customer_id;
	if( customer_id != '' && customer.email != '' ) customer_param += '&';
  	if( customer_id != '' ) customer_param += 'customer_email='+customer_email;
	console.log( 'customer_param', customer_param );

	var checkout_url = "https://checkout.rechargeapps.com/r/checkout?myshopify_domain="+myshopify_domain+"&cart_token="+token+"&"+ga_linker+"&"+customer_param;
	console.log( 'checkout_url', checkout_url );

	window.location.href = checkout_url;

}	// end reChargeProcessCart()

// call functions from here
(function($){

  	changeVariantChoice($);
  	addToCart($);

})(jQuery);
{% endjavascript %}