{{ 'owl.carousel.min.js' | asset_url | script_tag }}

<section id="beekman_the_goats">
    <section class="hero-section overlay">
        <div class="image-wrap">
            <div class="col-12 d-lg-none">
                {% include 'responsive-image-aspect-ratio' with
                    image: section.settings.hero_mobile,
                    hero_aspect_ratio: 75,
                    max_width: 2000,
                    max_height: 2000,
                %}
            </div>
            <div class="col-12 d-none d-lg-block">
                {% include 'responsive-image-aspect-ratio' with
                    image: section.settings.hero_desktop,
                    hero_aspect_ratio:47,
                    bgPosition: 'contain',
                    max_width: 2000,
                    max_height: 2000,
                %}
            </div>
            <div class="hero-content-area marathon">
                <div class="title-text-bg-marathon container header__container">
                    <div class="col-12 col-lg-5">
                        <h1 style="color: {{ section.settings.text_color }}">{{ section.settings.hero_heading }}</h1>
                    </div>
                    <div class="col-12 col-lg-5">
                        <p class="m-0" style="color: {{ section.settings.text_color }}">{{ section.settings.hero_text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container marathon_video">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <h1>{{ section.settings.video_heading }}</h1>
            </div>
            <div class="col-2"></div>
            <div class="d-none d-lg-block col-lg-2"></div>
            <div class="col-12 col-lg-8 text-center">
                <p>{{ section.settings.video_text }}</p>
            </div>
            <div class="d-none d-lg-block col-lg-2"></div>
            <div class="col-12 text-center">
                <a class="contact_link" href="{{ section.settings.video_button_link }}" target="_blank">{{ section.settings.video_button_label }}</a>
            </div>
            <div class="d-none d-lg-block col-lg-2"></div>
            <div class="col-12 col-lg-8">
                <div class="vimeo-embed-wrapper">
                    <video autoplay controls muted playsinline frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        <source src="{{ section.settings.livefeed_link }}" />
                    </video>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-2"></div>
        </div>
    </div>
</section>

{% schema %}
    {
    "name": "The Goats",
    "settings": [
    {
    "id": "hero_mobile",
    "type": "image_picker",
    "label": "Mobile Hero Image"
    },
    {
    "id": "hero_desktop",
    "type": "image_picker",
    "label": "Desktop Hero Image"
    },
    {
    "type": "color",
    "id": "text_color",
    "label": "Text",
    "default": "#4a5761",
    "info":  "Text Color"
    },
    {
    "id": "hero_heading",
    "type": "text",
    "label": "Hero Heading",
    "default": "Meet The Goats"
    },
    {
    "id": "hero_text",
    "type": "text",
    "label": "Hero Text",
    "default": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium."
    },
    {
    "type": "url",
    "id": "livefeed_link",
    "label": "Nest Live Stream Link"
    },
    {
    "id": "video_heading",
    "type": "text",
    "label": "Video Heading",
    "default": "Book A Tour"
    },
    {
    "id": "video_text",
    "type": "text",
    "label": "Video Text",
    "default": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium."
    },
    {
    "id": "video_button_label",
    "type": "text",
    "label": "Button - Label",
    "default": "CONTACT US"
    },
    {
    "id": "video_button_link",
    "type": "url",
    "label": "Button - Link"
    },
    {
    "id": "benefits_heading",
    "type": "text",
    "label": "Benefits Heading",
    "default": "Goat Milk Benefits"
    },
    {
    "id": "benefits_banner",
    "type": "image_picker",
    "label": "Benefits Banner Image"
    }
    ],
    "blocks": [
    {
    "type": "benefits_carousel",
    "name": "The Goats - Benefits",
    "settings": [
    {
    "id": "carousel_title",
    "type": "text",
    "label": "Benefits - Title"
    },
    {
    "id": "carousel_text",
    "type": "textarea",
    "label": "Benefits - Text"
    }
    ]
    }
    ]
    }
{% endschema %}

{{ 'about_goats.js' | asset_url | script_tag }}
