{% liquid
  if media_layout == nil
    assign media_layout = section.settings.layout
  endif
  assign enable_zoom = section.settings.show_zoom_button
  assign enable_video_autoplay = section.settings.enable_video_autoplay

  if show_thumbnails == nil
    assign show_thumbnails = true
  endif
  if show_dots == nil
    assign show_dots = true
  endif
  if show_nav == nil
    assign show_nav = true
  endif

  if template_product == nil
    assign template_product = false
  endif

  assign enableVariantGroupImg = false
  assign hasVariantGI = false
  assign variantGroups = product.metafields.foxecom-bs-kit.variant-images.value
  if section.settings.enable_variant_group_images and product.metafields.foxecom-bs-kit.variant-images.value.enable
    assign enableVariantGroupImg = true
  endif

  assign selected_variant = product.selected_or_first_available_variant

  for media in variantGroups.mapping
    assign mediaId = media.id | times: 1
    if mediaId == selected_variant.id and media.media.size > 0
      assign hasVariantGI = true
    endif
  endfor

  assign wrapper_class = ''
  if product.media.size > 1
    assign wrapper_class = 'swiper-container'
  endif
%}

<media-gallery
  data-product-id="{{ product.id }}"
  data-product-handle="{{ product.handle }}"
  data-product-url="{{ product.url }}"
  data-enable-image-zoom="{{ section.settings.show_zoom_button }}"
  data-enable-history-state="{{ section.settings.enable_history_state }}"
  data-enable-video-autoplay="{{ section.settings.enable_video_autoplay }}"
  data-enable-variant-group-images="{{ enableVariantGroupImg }}"
  data-layout="{{ media_layout }}"
  data-section="{{ section.id }}"
	class="{{ class }} w-full"
	data-screen="{{ screen | default: 'desktop' }}"
  {% if hasVariantGI and template_product %}data-media-loading{% endif %}
>
    {% case media_layout %}
      {% when 'layout-1' %}
        <div class="sf-prod-media__wrapper default-variant" {% if hasVariantGI and template_product %}style="opacity: 0;"{% endif %}>
          <div class="flex-grow">
            {%- for media in product.media -%}
              <div
                class="sf-prod-media-item media-type-{{ media.media_type }} overflow-hidden relative group"
                data-index="{{ forloop.index0 }}"
              >
                {% render 'product-thumbnail', lazy_load: lazy_load, media: media, index: forloop.index0, autoplay: enable_video_autoplay, loop: enable_video_looping, modal_id: section.id, xr_button: true %}
                {%- if enable_zoom and media.media_type != 'model' and media.media_type != 'model' -%}
                  <div class="zoom-in transition-all opacity-100 md:opacity-0 absolute z-10 {{ position | default: '-right-14 top-5' }}">
                    {% render 'tooltip', type: 'zoom-in', class_name: ' sf__tooltip-left' %}
                  </div>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
      {% when 'layout-2' %}
        <div class="sf-prod-media__wrapper" {% if hasVariantGI and template_product %}style="opacity: 0;"{% endif %}>
          <div class="hidden md:grid gap-2.5 {% if product.media.size > 1 %}grid-cols-2{% endif %}">
            {%- for media in product.media -%}
              {%- assign remainder = forloop.index0 | modulo: 3 -%}
              <div
                class="sf-prod-media-item media-type-{{ media.media_type }} overflow-hidden relative group {% if remainder == 0 or product.media.size < 3 %}col-span-2{% endif %}"
                data-index="{{ forloop.index0 }}"
              >
                {% render 'product-thumbnail', lazy_load: lazy_load, media: media, index: forloop.index0, autoplay: enable_video_autoplay, loop: enable_video_looping, modal_id: section.id, xr_button: true %}
                {%- if enable_zoom and media.media_type != 'model' -%}
                  <div class="zoom-in transition-all opacity-100 md:opacity-0 absolute z-10 {{ position | default: '-right-14 top-5' }}">
                    {% render 'tooltip', type: 'zoom-in', class_name: ' sf__tooltip-left' %}
                  </div>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
      {% when 'layout-3' %}
        <div class="sf-prod-media__wrapper" {% if hasVariantGI and template_product %}style="opacity: 0;"{% endif %}>
          <div class="grid gap-2.5 {% if product.media.size > 1 %}grid-cols-2{% endif %}">
            {%- for media in product.media -%}
              {%- assign remainder = forloop.index0 | modulo: 3 -%}
              <div
                class="sf-prod-media-item media-type-{{ media.media_type }} overflow-hidden relative"
                data-index="{{ forloop.index0 }}"
              >
                {% render 'product-thumbnail', lazy_load: lazy_load, media: media, index: forloop.index0, autoplay: enable_video_autoplay, loop: enable_video_looping, modal_id: section.id, xr_button: true %}
                {%- if enable_zoom and media.media_type != 'model' -%}
                  <div class="zoom-in transition-all opacity-100 md:opacity-0 absolute z-10 {{ position | default: '-right-14 top-5' }}">
                    {% render 'tooltip', type: 'zoom-in', class_name: ' sf__tooltip-left' %}
                  </div>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
      {% when 'layout-4' %}
        {% assign aspect_ratio = product.featured_media.aspect_ratio %}
        <div class="sf-pis__wrapper overflow-hidden w-full" {% if hasVariantGI and template_product %}style="opacity: 0;"{% endif %}>
          <div class="sf-preview__wrapper mb-4 flex-grow">
            <div class="{{ wrapper_class }} h-full group {{ swiper_class }}">
              <div class="swiper-wrapper main-slider sf-pis h-full">
                {% for media in product.media %}
                  <div
                    class="swiper-slide sf-prod-media-item relative overflow-hidden media-type-{{ media.media_type }}"
                    data-index="{{ forloop.index0 }}"
                    data-media-type="{{ media.media_type }}"
                    data-media-id="{{ media.id }}"
                    data-aspect-ratio="{{ media.aspect_ratio | default: '1' }}"
                  >
                    {% render 'product-thumbnail', lazy_load: lazy_load, media: media, index: forloop.index0, autoplay: enable_video_autoplay, loop: enable_video_looping, modal_id: section.id, xr_button: true %}
                    {%- if enable_zoom and media.media_type != 'model' -%}
                      <div class="zoom-in transition-all opacity-100 md:opacity-0 absolute z-10 {{ position | default: '-right-14 top-5' }}">
                        {% render 'tooltip', type: 'zoom-in', class_name: ' sf__tooltip-left' %}
                      </div>
                    {%- endif -%}
                  </div>
                {% endfor %}
              </div>
              {% if show_nav and product.media.size > 1 %}
                <div class="absolute z-10 pointer-events-none inset-x-0 top-1/2 -translate-y-1/2 flex items-center justify-between px-4">
                  <button class="swiper-button-control swiper-button-prev sf__btn-icon">
                    {% render 'icon', name: 'prev', size: 'small' %}
                  </button>
                  <button class="swiper-button-control swiper-button-next sf__btn-icon">
                    {% render 'icon', name: 'next', size: 'small' %}
                  </button>
                </div>
              {% endif %}
            </div>
          </div>
          {% if show_thumbnails and product.media.size > 1 %}
            <div class="sf-media-nav">
              <div class="nav-swiper-container flex items-stretch sf-no-scroll-bar opacity-0 transition-all">
                <div class="swiper-wrapper flex flex-nowrap w-auto max-w-none" style="min-width: 70px;">
                  {% for media in product.media %}
                    {% assign aspect_ratio = media.aspect_ratio | default: 1 %}
                    <div
                      class="swiper-slide relative cursor-pointer media-type-{{ media.media_type }}"
                      data-index="{{ forloop.index0 }}"
                      {%- if product_layout == 'layout-6' -%}
                        style="--slide-height: {{ 70 | divided_by: aspect_ratio }}px;"
                      {%- endif -%}
                    >
                      {% render 'product-thumbnail', media: media, thumbnail: true %}
                      {% if media.media_type contains 'video' %}
                        <div class="absolute right-0 top-0 text-white bg-gray-800 p-1 rounded-sm">
                          {% render 'icon', name: 'video', size: 'small' %}
                        </div>
                      {% endif %}
                      {% if media.media_type == 'model' %}
                        <div class="absolute right-0 top-0 text-white bg-gray-800 p-1 rounded-sm">
                          {% render 'icon', name: 'cube', size: 'small' %}
                        </div>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
          {% if show_pagination and product.media.size > 1 %}
            <div class="swiper-pagination"></div>
          {% endif %}
        </div>
      {% when 'layout-5' %}
        {% assign aspect_ratio = product.featured_media.aspect_ratio | times: 2 %}
        <div class="sf-pis__wrapper overflow-hidden w-full" {% if hasVariantGI and template_product %}style="opacity: 0;"{% endif %}>
          <div style="--aspect-ratio: {{ aspect_ratio }}" class="sf-preview__wrapper mb-4 flex-grow">
            <div class="{{ wrapper_class }} h-full group {{ swiper_class }}">
              <div class="swiper-wrapper main-slider sf-pis h-full">
                {% for media in product.media %}
                  <div
                    class="swiper-slide sf-prod-media-item relative overflow-hidden media-type-{{ media.media_type }}"
                    data-index="{{ forloop.index0 }}"
                    data-media-type="{{ media.media_type }}"
                    data-media-id="{{ media.id }}"
                    data-aspect-ratio="{{ media.aspect_ratio | default: '1' }}"
                  >
                    {% render 'product-thumbnail', lazy_load: lazy_load, media: media, index: forloop.index0, autoplay: enable_video_autoplay, loop: enable_video_looping, modal_id: section.id, xr_button: true %}
                    {%- if enable_zoom and media.media_type != 'model' -%}
                      <div class="zoom-in transition-all opacity-100 md:opacity-0 absolute z-10 {{ position | default: '-right-14 top-5' }}">
                        {% render 'tooltip', type: 'zoom-in', class_name: ' sf__tooltip-left' %}
                      </div>
                    {%- endif -%}
                  </div>
                {% endfor %}
              </div>
              <div class="absolute z-10 pointer-events-none inset-x-0 top-1/2 -translate-y-1/2 flex items-center justify-between px-4">
                <button class="swiper-button-control swiper-button-prev sf__btn-icon">
                  {% render 'icon', name: 'prev', size: 'small' %}
                </button>
                <button class="swiper-button-control swiper-button-next sf__btn-icon">
                  {% render 'icon', name: 'next', size: 'small' %}
                </button>
              </div>
            </div>
          </div>
          {% if show_dots and product.media.size > 1 %}
            <div class="swiper-pagination"></div>
          {% endif %}
        </div>
      {% when 'layout-6' %}
        {% assign aspect_ratio = product.featured_media.aspect_ratio %}
        <div class="sf-pis__wrapper overflow-hidden w-full" {% if hasVariantGI and template_product %}style="opacity: 0;"{% endif %}>
          <div style="--aspect-ratio: {{ aspect_ratio }}" class="sf-preview__wrapper mb-4 flex-grow">
            <div style="--aspect-ratio: {{ aspect_ratio }}" class="sf-preview__wrapper mb-4 flex-grow">
              <div class="{{ wrapper_class }} h-full group {{ swiper_class }}">
                <div class="swiper-wrapper main-slider sf-pis h-full">
                  {% for media in product.media %}
                    <div
                      class="swiper-slide sf-prod-media-item relative overflow-hidden media-type-{{ media.media_type }}"
                      data-index="{{ forloop.index0 }}"
                      data-media-type="{{ media.media_type }}"
                      data-media-id="{{ media.id }}"
                      data-aspect-ratio="{{ media.aspect_ratio | default: '1' }}"
                    >
                      {% render 'product-thumbnail', lazy_load: lazy_load, media: media, index: forloop.index0, autoplay: enable_video_autoplay, loop: enable_video_looping, modal_id: section.id, xr_button: true %}
                      {%- if enable_zoom and media.media_type != 'model' -%}
                        <div class="zoom-in transition-all opacity-100 md:opacity-0 absolute z-10 {{ position | default: '-right-14 top-5' }}">
                          {% render 'tooltip', type: 'zoom-in', class_name: ' sf__tooltip-left' %}
                        </div>
                      {%- endif -%}
                    </div>
                  {% endfor %}
                </div>
                <div class="absolute z-10 pointer-events-none inset-x-0 top-1/2 -translate-y-1/2 flex items-center justify-between px-4">
                  <button class="swiper-button-control swiper-button-prev sf__btn-icon">
                    {% render 'icon', name: 'prev', size: 'small' %}
                  </button>
                  <button class="swiper-button-control swiper-button-next sf__btn-icon">
                    {% render 'icon', name: 'next', size: 'small' %}
                  </button>
                </div>
              </div>
            </div>
          </div>
          {% if show_thumbnails and product.media.size > 1 %}
            <div class="sf-media-nav">
              <div class="nav-swiper-container flex items-stretch sf-no-scroll-bar opacity-0 transition-all">
                <div class="swiper-wrapper flex flex-nowrap w-auto max-w-none" style="min-width: 70px;">
                  {% for media in product.media %}
                    {% assign aspect_ratio = media.aspect_ratio | default: 1 %}
                    <div
                      class="swiper-slide relative cursor-pointer media-type-{{ media.media_type }}"
                      data-index="{{ forloop.index0 }}"
                      style="--slide-height: {{ 70 | divided_by: aspect_ratio }}px;"
                    >
                      {% render 'product-thumbnail', media: media, thumbnail: true %}
                      {% if media.media_type contains 'video' %}
                        <div class="absolute right-0 top-0 text-white bg-gray-800 p-1 rounded-sm">
                          {% render 'icon', name: 'video', size: 'small' %}
                        </div>
                      {% endif %}
                      {% if media.media_type == 'model' %}
                        <div class="absolute right-0 top-0 text-white bg-gray-800 p-1 rounded-sm">
                          {% render 'icon', name: 'cube', size: 'small' %}
                        </div>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="sf-pis__wrapper mb-8 relative" {% if hasVariantGI and template_product %}style="opacity: 0;"{% endif %}>
          {% if product.media.size <= 3 %}
            <div class="flex justify-center items-center mx-auto">
              {% for media in product.media %}
                <div
                  class="sf-prod-media-item relative overflow-hidden media-type-{{ media.media_type }}"
                  data-index="{{ forloop.index0 }}"
                  data-media-type="{{ media.media_type }}"
                  data-media-id="{{ media.id }}"
                  style="width: 33.33%"
                >
                  {% render 'product-thumbnail', lazy_load: lazy_load, media: media, index: forloop.index0, autoplay: enable_video_autoplay, loop: enable_video_looping, modal_id: section.id, xr_button: true %}
                  {%- if enable_zoom and media.media_type != 'model' -%}
                    <div class="zoom-in transition-all opacity-100 md:opacity-0 absolute z-10 {{ position | default: '-right-14 top-5' }}">
                      {% render 'tooltip', type: 'zoom-in', class_name: ' sf__tooltip-left' %}
                    </div>
                  {%- endif -%}
                </div>
              {% endfor %}
            </div>
          {% else %}
            {% assign aspect_ratio = product.featured_media.aspect_ratio | times: 3 %}
            <div style="--aspect-ratio: {{ aspect_ratio }}">
              <div class="swiper-container {{ swiper_class }}">
                <div class="swiper-wrapper main-slider">
                  {% for media in product.media %}
                    <div
                      class="swiper-slide sf-prod-media-item relative overflow-hidden"
                      data-index="{{ forloop.index0 }}"
                      data-media-type="{{ media.media_type }}"
                    >
                      {% render 'product-thumbnail', media: media, index: forloop.index0, autoplay: enable_video_autoplay, loop: enable_video_looping, modal_id: section.id, xr_button: true %}
                      {%- if enable_zoom and media.media_type != 'model' -%}
                        <div class="zoom-in transition-all opacity-100 md:opacity-0 absolute z-10 {{ position | default: '-right-14 top-5' }}">
                          {% render 'tooltip', type: 'zoom-in', class_name: ' sf__tooltip-left' %}
                        </div>
                      {%- endif -%}
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="absolute z-10 inset-x-0 top-1/2 flex items-center justify-between px-4 pointer-events-none">
                <button class="swiper-button-control sf__btn-icon swiper-button-prev pointer-events-auto">
                  {% render 'icon', name: 'prev', size: 'small' %}
                </button>
                <button class="swiper-button-control sf__btn-icon swiper-button-next pointer-events-auto">
                  {% render 'icon', name: 'next', size: 'small' %}
                </button>
              </div>
            </div>
          {% endif %}
        </div>
    {% endcase %}
</media-gallery>
