<div class="form-reset-password" id="reset_password">
  {% form 'reset_customer_password' %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{ 'customer.reset_password.title' | t }}</h1>
        </div>
        <div class="col-12">
          <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
        </div>
        {% if form.errors %}
          <div class="col-12">
            <p>{{ form.errors | default_errors }}</p>
          </div>
        {% endif %}
        <div class="col-12">
          <label for="ResetPassword" class="label-hidden">
            {{ 'customer.reset_password.password' | t }}
          </label>
          <input type="password"
            name="customer[password]"
            id="ResetPassword"
            class="{% if form.errors contains 'password' %}input-error{% endif %}"
            placeholder="{{ 'customer.reset_password.password' | t }}">
        </div>
        <div class="col-12">
          <label for="PasswordConfirmation" class="label-hidden">
            {{ 'customer.reset_password.password_confirm' | t }}
          </label>
          <input type="password"
            name="customer[password_confirmation]"
            id="PasswordConfirmation"
            class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
            placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
        </div>
        <div class="col-12">
          <input type="submit" class="button" value="{{ 'customer.reset_password.submit' | t }}">
        </div>
      </div>
    </div>
  {% endform %}
</div>
