{%  for block in section.blocks %}
<div class="Image_TextContainer">
  <div class="ImageTContainer container_{{ block.id }}">
    <img src="{{ block.settings.image | img_url: '1000x' }}">
  </div>
  <div class="DatailsTContainer container2_{{ block.id }}">
    <h2>{{ block.settings.heading }}</h2>
    <div class="DetailsText">
      {{ block.settings.details }}
    </div>
  </div>
</div>

{%  if block.settings.image_first %}
  <style>
    .container_{{ block.id }}{
      order:0;
    }
    .container2_{{ block.id }}{
      order:1;
    }
  </style>  
  {% else %}
  <style>
    .container_{{ block.id }}{
      order:1;
    }
    .container2_{{ block.id }}{
      order:0;
    }
  </style>
{% endif %}  

{% endfor %}  

<style>
 .Image_TextContainer{
display:flex;
flex-direction:row;
width:100%;
padding:20px 25px;
justify-content:center;
position:relative;
background:white;

}
.Image_TextContainer h2{
  margin:0px;
}
.ImageTContainer{
  width:50%;
}
.ImageTContainer img{
  width:100%; 
}

.DatailsTContainer{
display:flex;
flex-direction:column;
text-align:right;
max-width:500px;
margin-top:15%;
}
.DatailsTContainer{
  width:50%;
}
</style>

{% schema %}
{
  "name": "Images_texts",
  "settings": [

  ],
  "blocks":[
    {
    "type":"image_text",
    "name":"image_text",
    "settings": [
      {
      "type":"text",
      "id":"heading",
      "label":"heading",
      "default": "test text"
      },
      {
        "type":"richtext", 
        "id":"details",
        "label":"details",
        "default": "<p>test details text</p>"
      },
      {
        "type":"image_picker",
        "id":"image",
        "label":"image"
      },
      {
        "type":"checkbox",
        "id":"image_first",
        "label":"Image first",
        "default": true
      }
    ]
  }

  ],
  "presets": [
    {
      "name": "Images_texts"
    }
  ]
}
{% endschema %} 