{{ 'video.css' | asset_url | stylesheet_tag }}

{% liquid
  assign bg_color = section.settings.background_color
  assign has_bg = false

  unless bg_color == "rgba(0,0,0,0)" or bg_color == blank
    assign has_bg = true
  endunless

  if section.settings.width == blank
    assign width = '100%'
  else
    assign width = section.settings.width
  endif
%}

<section
  class="sf-video {{ section.settings.custom_class }}"
  data-section-id="{{ section.id }}"
  data-section-type="video-section"
  {%- if has_bg -%}
    data-bg="{{ bg_color | color_to_hsl }}"
    style="background-color: {{ bg_color }};--section-padding-top: {{ section.settings.padding_top }}px; --section-padding-bottom: {{ section.settings.padding_bottom }}px;"
  {%- endif -%}
  data-video-ratio="{{ section.settings.ratio | default: '16:9' }}" 
  data-autoplay="{{ section.settings.autoplay }}" 
  data-loop="{{ section.settings.loop }}"
  data-muted="{{ section.settings.muted }}"
>
  <div class="{{ section.settings.container }} section-my section-py">
    {%- if section.settings.video_link != blank -%}
      <div class="sf-video__container mx-auto max-w-full" style="width: {{- width -}};">
        <div class="sf-video__wrapper" style="--aspect-ratio: {{ section.settings.ratio | replace: ':', '/' }}">
          {%- if section.settings.video_link != blank -%}
            <div class="video-wrapper" data-plyr-provider="youtube" data-plyr-embed-id="{{ section.settings.video_link.id }}"></div>
          {%- endif -%}
          {%- if section.settings.image != blank -%}
            <div class="sf-video__cover bg-center" style="background-image: url({{ section.settings.image | image_url: width: 1920 }})"></div>
          {%- endif -%}
          <div class="sf-video__inner text-center">
            <button type="button" class="sf-video__play sf-video__play--style-{{ section.settings.play_style }} sf-video__play--size-{{ section.settings.play_size }} text-{{ section.settings.text_color }}" data-plyr="play" aria-label="Play">
              {% render 'icon', name: 'play', size: 'medium' %}
              <span class="plyr__sr-only">{{ 'sections.video.play' | t }}</span>
            </button>
            {%- unless section.settings.video_title == blank -%}
              <h2 class="sf-video__title text-xl hidden md:block {% if section.settings.text_size == 'medium' %}sm:text-3xl{% else %}sm:text-5xl{% endif %} text-{{ section.settings.text_color }}">
                {{ section.settings.video_title }}
              </h2>
            {%- endunless -%}
          </div>
        </div>
      </div>
    {%- else -%}
      <div class="placeholder-noblocks text-center">
        {{ 'homepage.onboarding.no_content' | t }}
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Video",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "Default"
        },
        {
          "value": "w-full",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Use container box"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Video settings"
    },
    {
      "type": "video_url",
      "id": "video_link",
      "label": "Video link",
      "accept": [
        "youtube"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "select",
      "id": "ratio",
      "label": "Video ratio",
      "default": "16:9",
      "options": [
        {
          "value": "16:9",
          "label": "16:9"
        },
        {
          "value": "21:9",
          "label": "21:9"
        },
        {
          "value": "4:3",
          "label": "4:3"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Cover image",
      "info": "Leave blank to use video thumbnail"
    },
    {
      "type": "textarea",
      "id": "video_title",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "default": "medium",
      "options": [
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text color",
      "options": [
        {
          "label": "Dark",
          "value": "black"
        },
        {
          "label": "Light",
          "value": "white"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "play_style",
      "label": "Play button style",
      "options": [
        {
          "label": "Outline",
          "value": "outline"
        },
        {
          "label": "Solid",
          "value": "solid"
        }
      ],
      "default": "solid"
    },
    {
      "type": "select",
      "id": "play_size",
      "label": "Play button size",
      "options": [
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "text",
      "id": "width",
      "label": "Video width",
      "default": "650px"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "muted",
      "label": "Muted",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom Attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom classes"
    }
  ],
  "presets": [
    {
      "name": "Video",
      "category": "Video"
    }
  ]
}
{% endschema %}
