<ul class="horizontal unstyled clearfix">
  {% assign mainMenu = section.settings.nav_linklist %}
  {% for link in linklists[mainMenu].links %}
  {%- comment %}<locksmith:3521>{% endcomment -%}
    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[mainMenu], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
  {%- comment %}</locksmith:3521>{% endcomment -%}
  {% if linklists[link.handle] == empty %}
  <li>
    <a href="{{ link.url }}" class="{% if link.active %} current{% endif %}">
      <span>{{ link.title }}</span></a>
  </li>
  {% else %}
  <li class="dropdown"><a href="{{ link.url }}" class="{% if link.active %} current{% endif %}">
    <span>{{ link.title }}</span></a>
    <ul class="dropdown">
      {% for l in linklists[link.handle].links %}
      {%- comment %}<locksmith:55bd>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: l, subject_parent: linklists[link.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:55bd>{% endcomment -%}
      <li><a href="{{ l.url }}"{% if l.active %} class="current"{% endif %}>{{ l.title }}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
  {% endfor %}
</ul>