{% unless canonical_url contains 'apps/menu/preview' %}
<link href="{{ 'v3globomenu.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<script>
  var MenuApp = {
    shop 	: '{{ shop.permanent_domain }}',
    menu	: "main-menu",
    themeId	: 790,
    menuClass	: 'globomenu-store-790 globomenu globomenu-main globomenu-horizontal globomenu-transition-fade globomenu-items-align-left globomenu-sub-indicators  globomenu-trigger-hover globomenu-responsive globomenu-responsive-collapse ',
    mobileBtn	: '<a class="globomenu-responsive-toggle-790 globomenu-responsive-toggle globomenu-responsive-toggle-content-align-left"><i class="fa fa-bars"></i>Menu</a>',
    linkLists	: {
      {% for list in linklists %}
        '{{ list.handle }}':{
		  title : "{{ list.title | replace: '"', '\"' | strip_html }}",
    	  items : [{%- comment %}<locksmith:ee6c>{% endcomment -%}{%- assign locksmith_8dfc_forloop__size = 0 %}{% for link in linklists[list.handle].links %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[list.handle], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_8dfc_forloop__size = locksmith_8dfc_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_8dfc_forloop__index = nil -%}{%- comment %}</locksmith:ee6c>{% endcomment -%}{% for link in linklists[list.handle].links %}{%- comment %}<locksmith:d0b2>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[list.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_8dfc_forloop__index == nil %}{% assign locksmith_8dfc_forloop__index = 1 %}{% assign locksmith_8dfc_forloop__index0 = 0 %}{% else %}{% assign locksmith_8dfc_forloop__index = locksmith_8dfc_forloop__index | plus: 1 %}{% assign locksmith_8dfc_forloop__index0 = locksmith_8dfc_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_8dfc_forloop__index == 1 %}{% assign locksmith_8dfc_forloop__first = true %}{% else %}{% assign locksmith_8dfc_forloop__first = false %}{% endif %}{% if locksmith_8dfc_forloop__index == locksmith_8dfc_forloop__size %}{% assign locksmith_8dfc_forloop__last = true %}{% else %}{% assign locksmith_8dfc_forloop__last = false %}{% endif %}{% assign locksmith_8dfc_forloop__rindex = locksmith_8dfc_forloop__size | minus: locksmith_8dfc_forloop__index | minus: 1 %}{% assign locksmith_8dfc_forloop__rindex0 = locksmith_8dfc_forloop__size | minus: locksmith_8dfc_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:d0b2>{% endcomment -%}"{{ link.url | replace: '"', '\"' }}"{% unless locksmith_8dfc_forloop__last %},{% endunless %}{% endfor %}],
    	  names : [{%- comment %}<locksmith:22e6>{% endcomment -%}{%- assign locksmith_c45e_forloop__size = 0 %}{% for link in linklists[list.handle].links %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[list.handle], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_c45e_forloop__size = locksmith_c45e_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_c45e_forloop__index = nil -%}{%- comment %}</locksmith:22e6>{% endcomment -%}{% for link in linklists[list.handle].links %}{%- comment %}<locksmith:1c83>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[list.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_c45e_forloop__index == nil %}{% assign locksmith_c45e_forloop__index = 1 %}{% assign locksmith_c45e_forloop__index0 = 0 %}{% else %}{% assign locksmith_c45e_forloop__index = locksmith_c45e_forloop__index | plus: 1 %}{% assign locksmith_c45e_forloop__index0 = locksmith_c45e_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_c45e_forloop__index == 1 %}{% assign locksmith_c45e_forloop__first = true %}{% else %}{% assign locksmith_c45e_forloop__first = false %}{% endif %}{% if locksmith_c45e_forloop__index == locksmith_c45e_forloop__size %}{% assign locksmith_c45e_forloop__last = true %}{% else %}{% assign locksmith_c45e_forloop__last = false %}{% endif %}{% assign locksmith_c45e_forloop__rindex = locksmith_c45e_forloop__size | minus: locksmith_c45e_forloop__index | minus: 1 %}{% assign locksmith_c45e_forloop__rindex0 = locksmith_c45e_forloop__size | minus: locksmith_c45e_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:1c83>{% endcomment -%}"{{ link.title | replace: '"', '\"' | strip_html }}"{% unless locksmith_c45e_forloop__last %},{% endunless %}{% endfor %}]
      	}{% unless forloop.last %},{% endunless %}
      {% endfor %}
  	}
  };
</script>
{% include 'globo-megamenu' %}
<script src="{{ 'v3globomenu.js' | asset_url }}" type="text/javascript"></script>
<script>MenuApp.init();</script>
{% endunless %}
