<div class="hero-section {{ additional_class }}">
  <div class="image-wrap">
    <div class="row">
      <div class="d-block col-12 d-lg-none">
        <div class="hero-section__image">
          {% if block.settings.mobile_image != blank %}
            <img src="{{ block.settings.mobile_image | img_url: 'master' }}" alt="" />
          {% endif %}
        </div>
      </div>
    </div>

    <div class="d-none d-lg-block">
      <div class="hero-section__image">
        {% if block.settings.desktop_image != blank %}
          <img src="{{ block.settings.desktop_image | img_url: 'master' }}" alt="" />
        {% endif %}
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <a class="down-arrow d-none d-lg-block" href="#">
            {% include 'icon-chevron-bottom' %}
          </a>
        </div>
      </div>
    </div>

    <div class="hero-content-area">
      <div class="container">
        <div class="row text-center">
          {% if block.settings.show_merc_icon %}
            <div class="col-12">
              <div class="icon-wrap">
                {% include 'icon-mercantile-small' %}
              </div>
            </div>
          {% endif %}
          <div class="col-12">
            {%- if block.settings.heroTitle != blank -%}
              <h2>{{ block.settings.heroTitle | escape }}</h2>
            {%- endif -%}
          </div>

          <div class="col-12">
            {%- if block.settings.heroContent != blank -%}
              <div class="text">
                {{ block.settings.heroContent }}
              </div>
            {%- endif -%}
          </div>

          <div class="col-12">
            {% if block.settings.button_label != blank and block.settings.button_link != blank %}
              <a href="{{ block.settings.button_link }}" class="shop__all">
                {{ block.settings.button_label | escape }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(document).on('click', 'a.down-arrow', function (e) {
            e.preventDefault();
            setTimeout(function () {
                $('html, body').stop();
            }, 800)
            $('html, body').animate({
                scrollTop: $('#mercCollectionList').offset().top - 100
            }, 800, 'linear');

        });

    });
</script>
