<div class="microbiome-hero-section">
  {%- assign line1Color = block.settings.color_line1 -%}
  {%- assign line2Color = block.settings.color_line2 -%}

  <div class="hero__video_wrap">
    {% if block.settings.heroVideo %}
      <video playsinline autoplay loop muted id="heroVideo">
        <source src="{{block.settings.heroVideo}}" type="video/mp4" />
      </video>
    {% endif %}
    <div class="hero__text">
      {%- if block.settings.heroLine1 != blank -%}
        <p style="color: {{ line1Color }}">{{ block.settings.heroLine1 | escape }}</p>
      {%- endif -%}
      {%- if block.settings.heroLine2 != blank -%}
        <p style="color: {{ line2Color }}">{{ block.settings.heroLine2 | escape }}</p>
      {%- endif -%}
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var video = document.getElementById("heroVideo");
    if (video.paused) {
      video.play();
    }
  });
</script>
