<div class="microbiome-bloom animated" id="bloom">
  <div class="image__wrap">
    {% if block.settings.mobile_img != blank %}
      <img src="{{ block.settings.mobile_img | img_url: 'master' }}" class="d-block d-md-none" alt="" />
    {% endif %}

    {% if block.settings.desktop_img != blank %}
      <img src="{{ block.settings.desktop_img | img_url: 'master' }}" class="d-none d-md-block main-bg" alt="" />
    {% endif %}
  </div>
  {%- if block.settings.section_ttl != blank -%}
    <h2>{{ block.settings.section_ttl | escape }}</h2>
  {%- endif -%}
  <div class="section__content">
    {%- assign displayVal = "block" -%}
    {%- if block.settings.video_poster != blank -%}
      {%- assign displayVal = "none" -%}
    {%- endif -%}
    <div class="video__wrap">
      {% if block.settings.video_poster != blank %}
        <img src="{{ block.settings.video_poster | img_url: 'master' }}" class="v__poster" alt="" />
        <a class="watch__now v__poster" href="#" data-video="{{ block.settings.video_url }}">{% include 'play_icon_thin' %}</a>
      {% endif %}
    </div>
    <a href="" class="watch__now" data-video="{{ block.settings.video_url }}">{{ block.settings.btn_text }}</a>
  </div>
</div>

<script>
  $(document).on('click', '.watch__now', function(e) {
    e.preventDefault();
    var link = $(e.currentTarget).data('video'),
      str = '';
    if (!link.match('.mp4') && !link.match('image')) {
      link += '?modestbranding=1&rel=0&controls=1&showinfo=0&html5=1&autoplay=1';
      str = '<iframe width="100%" height="550" src="' + link + '" frameborder="0" allowfullscreen allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>';
    } else {
      str = '<video autoplay width="100%" height="100%" controls><source src="' + link + '" type="video/mp4"></video>';
    }

    $('.microbiome-bloom .video__wrap').append(str);
    $('.v__poster').hide();
  });
</script>
