<ul class="site-nav list--inline {{ nav_alignment }}" id="SiteNav">
  {%- comment %}<locksmith:363e>{% endcomment -%}
    {%- assign locksmith_b97c_forloop__size = 0 %}{% for link in linklists[section.settings.main_linklist].links %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[section.settings.main_linklist], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_b97c_forloop__size = locksmith_b97c_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_b97c_forloop__index = nil -%}
  {%- comment %}</locksmith:363e>{% endcomment -%}
  {% for link in linklists[section.settings.main_linklist].links %}
    {%- comment %}<locksmith:15d3>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[section.settings.main_linklist], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_b97c_forloop__index == nil %}{% assign locksmith_b97c_forloop__index = 1 %}{% assign locksmith_b97c_forloop__index0 = 0 %}{% else %}{% assign locksmith_b97c_forloop__index = locksmith_b97c_forloop__index | plus: 1 %}{% assign locksmith_b97c_forloop__index0 = locksmith_b97c_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_b97c_forloop__index == 1 %}{% assign locksmith_b97c_forloop__first = true %}{% else %}{% assign locksmith_b97c_forloop__first = false %}{% endif %}{% if locksmith_b97c_forloop__index == locksmith_b97c_forloop__size %}{% assign locksmith_b97c_forloop__last = true %}{% else %}{% assign locksmith_b97c_forloop__last = false %}{% endif %}{% assign locksmith_b97c_forloop__rindex = locksmith_b97c_forloop__size | minus: locksmith_b97c_forloop__index | minus: 1 %}{% assign locksmith_b97c_forloop__rindex0 = locksmith_b97c_forloop__size | minus: locksmith_b97c_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
    {%- comment %}</locksmith:15d3>{% endcomment -%}
    {%- assign child_list_handle = link.title | handleize -%}

    {% comment %}
      Check if third-level nav exists on each parent link.
    {% endcomment %}
    {%- assign three_level_nav = false -%}
    {% if link.links != blank %}
      {% if link.levels == 2 %}
        {%- assign three_level_nav = true -%}
      {% endif %}
    {% endif %}

    {% if link.links != blank %}
      <li class="site-nav--has-dropdown{% if three_level_nav %} site-nav--has-centered-dropdown{% endif %}{% if link.active %} site-nav--active{% endif %}" data-has-dropdowns>
        <button class="site-nav__link site-nav__link--main site-nav__link--button{% if link.child_active %} site-nav__link--active{% endif %}" type="button" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          <span class="site-nav__label">{{ link.title | escape }}</span>{% include 'icon-chevron-down' %}
        </button>

        <div class="site-nav__dropdown{% if three_level_nav %} site-nav__dropdown--centered{% endif %}" id="SiteNavLabel-{{ child_list_handle }}">
          {% if three_level_nav %}
            <div class="site-nav__childlist">
              <ul class="site-nav__childlist-grid">
                {% if link.links != blank %}
                  {% for childlink in link.links %}
                    {%- comment %}<locksmith:7998>{% endcomment -%}
                      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                    {%- comment %}</locksmith:7998>{% endcomment -%}
                    <li class="site-nav__childlist-item">
                      <a href="{{ childlink.url }}"
                        class="site-nav__link site-nav__child-link site-nav__child-link--parent"
                        {% if childlink.current %} aria-current="page"{% endif %}
                      >
                        <span class="site-nav__label">{{ childlink.title | escape }}</span>
                      </a>

                      {% if childlink.links != blank %}
                        <ul>
                        {% for grandchildlink in childlink.links %}
                          {%- comment %}<locksmith:b2e8>{% endcomment -%}
                            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: grandchildlink, subject_parent: childlink, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                          {%- comment %}</locksmith:b2e8>{% endcomment -%}
                          <li>
                            <a href="{{ grandchildlink.url }}"
                            class="site-nav__link site-nav__child-link"
                            {% if grandchildlink.current %} aria-current="page"{% endif %}
                          >
                              <span class="site-nav__label">{{ grandchildlink.title | escape }}</span>
                            </a>
                          </li>
                        {% endfor %}
                        </ul>
                      {% endif %}

                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </div>

          {% else %}
            <ul>
              {%- comment %}<locksmith:2d4e>{% endcomment -%}
                {%- assign locksmith_14ef_forloop__size = 0 %}{% for childlink in link.links %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_14ef_forloop__size = locksmith_14ef_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_14ef_forloop__index = nil -%}
              {%- comment %}</locksmith:2d4e>{% endcomment -%}
              {% for childlink in link.links %}
                {%- comment %}<locksmith:bc1f>{% endcomment -%}
                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_14ef_forloop__index == nil %}{% assign locksmith_14ef_forloop__index = 1 %}{% assign locksmith_14ef_forloop__index0 = 0 %}{% else %}{% assign locksmith_14ef_forloop__index = locksmith_14ef_forloop__index | plus: 1 %}{% assign locksmith_14ef_forloop__index0 = locksmith_14ef_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_14ef_forloop__index == 1 %}{% assign locksmith_14ef_forloop__first = true %}{% else %}{% assign locksmith_14ef_forloop__first = false %}{% endif %}{% if locksmith_14ef_forloop__index == locksmith_14ef_forloop__size %}{% assign locksmith_14ef_forloop__last = true %}{% else %}{% assign locksmith_14ef_forloop__last = false %}{% endif %}{% assign locksmith_14ef_forloop__rindex = locksmith_14ef_forloop__size | minus: locksmith_14ef_forloop__index | minus: 1 %}{% assign locksmith_14ef_forloop__rindex0 = locksmith_14ef_forloop__size | minus: locksmith_14ef_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:bc1f>{% endcomment -%}
                <li>
                  <a href="{{ childlink.url }}"
                  class="site-nav__link site-nav__child-link{% if locksmith_14ef_forloop__last %} site-nav__link--last{% endif %}"
                  {% if childlink.current %} aria-current="page"{% endif %}
                >
                    <span class="site-nav__label">{{ childlink.title | escape }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </li>
    {% else %}
      <li {% if link.active %} class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}"
          class="site-nav__link site-nav__link--main{% if link.active %} site-nav__link--active{% endif %}"
          {% if link.current %} aria-current="page"{% endif %}
        >
          <span class="site-nav__label">{{ link.title | escape }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
