<div class="container">
    <div class="row newsletter">
        <div class="col-12 text-center">
        {% if block.settings.newsletterTitle != blank %}
            <label for="Email">{{ block.settings.newsletterTitle | escape }}</label>
        {% endif %}
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <div class="signup-field">
            {% form 'customer' %}
            {{ form.errors | default_errors }}
                {% if form.posted_successfully? %}
                <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
                {% else %}
                <span class="input-wrap">
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input type="email"
                    name="contact[email]"
                    id="Email"
                    value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    autocorrect="off"
                    autocapitalize="off">
                </span>
                <button type="submit" name="commit" id="Subscribe">
                    <span>{{ 'general.newsletter_form.submit' | t }}</span>
                </button>
                {% endif %}
            {% endform %}
            </div>
      </div>
    </div>
</div>