{%- comment -%}v1.0
Wishl favorites wishlist button and list container. No need to edit this snippet.
Any changes may be overwritten later by the Wishl app.

To have add buttons show for each product in a grid, such as collection, related products,
or home featured products, include wishl snippet in grid loop with atomic set to true:

Example (inside liquid tag)
  - include 'wishl-wishlist', wishl_adder: 'atomic'

Example with button text:
  - include 'wishl-wishlist', wishl_adder: 'atomic_with_text'

Example for related products, passing in specific product variable (good to use in a loop):
  - include 'wishl-wishlist', wishl_adder: 'atomic', product: product_from_loop

To have an add button in a quick view:
  - include 'wishl-wishlist', wishl_adder: 'quickview'

If quick view snippet includes a form snippet:
  - include 'product-form', wishl_adder: 'quickview'
{%- endcomment -%}
{%- if product -%}
  {%- capture variantsPrices -%}
    {%- for variant in product.variants -%},[{{ variant.id }},{{ variant.price }}]{%- endfor -%}
  {%- endcapture -%}
  {%- capture variantsSoldOut -%}
	{%- for variant in product.variants -%}
	  {%- unless variant.available -%},{{ variant.id }}{%- endunless -%}
	{%- endfor -%}
  {%- endcapture -%}
  {%- assign variantsSoldOut = variantsSoldOut | slice: 1, 9999999 %}
  {%- capture adderData -%}
    data-variants-prices="[{{ variantsPrices | slice: 1, 9999999 }}]"
	{% if variantsSoldOut != blank %} data-variants-sold-out="[{{ variantsSoldOut }}]"{%- endif -%}
    {% if wishl_adder %} data-adder="{{ wishl_adder }}"{%- endif -%}
    {% if wishl_adder contains 'atomic' %} data-variant-id="{{product.selected_or_first_available_variant.id}}"{%- endif -%}
    {% unless shop.customer_accounts_enabled %} data-no-dropdown="true"{%- endunless -%}
  {%- endcapture -%}
<li class="add_to_custom_wishl wisht-font"   style="display:none;"><div class="wslh-icon"></div><span>Wishlist</span></li>
<div class="saved_to_custom_wishl wisht-font" style="display:none;"><div class="saved-icon"></div><span>Saved</span></div>
<a href="/a/wishl-wishlist" ><span  class="link-to-wishl" style="display:none;"></span></a>
<div class="wishl-add-wrapper" data-product-title="{{product.title}}"  data-product-id="{{ product.id }}" data-product-handle="{{ product.handle }}" {{ adderData | strip }}></div>

{%- elsif template contains 'page' and wishl_adder == blank -%}
<div id="wishl-wrapper"></div>
<div class="wishl-controls-bottom">
  <a href="#wishl-controls" class="to-share" id="scrollToShare">SHARE WISHLIST</a>
  <a href="/" class="continue-shopping">Keep shopping</a>
</div>

{%- endif -%}
{%- comment -%}
  Only render inline script tag once per template, even if snippet
  included multiple times (e.g., in collection template)
{%- endcomment -%}
{%- unless wishl_inline_script_rendered %}
  {%- assign wishl_inline_script_rendered = true -%}
  {%- unless shop.customer_accounts_enabled -%}
    <script type="text/javascript">var shopify_customer_accounts_disabled = true;</script>
  {%- elsif customer and customer.id != blank -%}
    {%- comment -%}
      Allows logged in customer to save and retrieve wishlist using their account
    {%- endcomment -%}
    <script type="text/javascript">
      var shopify_customer_for_wishl = {
        id: {{ customer.id }},
        email: "{{ customer.email }}",
        first_name: "{{ customer.first_name }}",
        last_name: "{{ customer.last_name }}",
        accepts_marketing: "{{ customer.accepts_marketing }}"
      };
    </script>
  {%- endunless -%}
{%- endunless -%}

<script>
var x=setInterval(function(){
  $('.wishl-icon').off()
  $('.wishl-icon').click(function(){
  id=$(this).parent().parent().attr("data-product-id");
  title=$(this).parent().parent().attr("data-product-title");
  var dataToSend={"email":"{{customer.email}}","itemtitle":title,"itemid":id};
  $.ajax({
        type:"POST",
        url: 'https://1802.io',
        data:dataToSend,
        success: function(data){
          console.log("added"+data)
        }
      })
  })
  },1000)


/*
$(".wishl-add-wrapper").each(function(){
  var v=0;
$(this).bind('DOMSubtreeModified', function(){
      let item=$(this);
    if(item.html().includes("<span>Add to Wishlist</span>")){
      if(v==0){
      $(".add-to-wishl").click(function(){
        console.log("cklicked");
        $.ajax({
        type:"POST",
        url: 'https://1802.io',
        data:{"email":"{{customer.email}}","itemtitle":"{{product.title}}","itemid":"{{product.variants[0].id}}"},
        success: function(data){
          console.log("item"+data)
        }
      })
      });
      v=1;
    }
    }
  });
  
});
*/


</script>

<style>
  /*
.wishl-add-wrapper{

}

.wisht-font{
  max-width:65px;
  margin-top:4px;
  cursor:pointer;
  text-align:center;
  font-size:12px;
  text-transform: capitalize;
  font-style: italic;
  line-height:22px;
  font-weight:400;
}
.wslh-icon{
  background:url('https://cdn.shopify.com/s/files/1/0223/7461/files/Bell_Wishlist_Icon-outlined.png?v=1633647367');
  background-size:100% 100%;
  width:20px;
  height:20px;
  margin:auto;
  margin-bottom:6px;
  }
  .saved-icon{
  background:url('https://cdn.shopify.com/s/files/1/0223/7461/files/Bell_Wishlist_Icon-filled.png?v=1633647355');
  background-size:100% 100%;
  width:20px;
  height:20px;
  margin:auto;
  margin-bottom:6px;
  }
  */
.product-top__wrap .product-header h1 {
    justify-content: left !important;}
</style>

