{%- capture body_classes -%}
template-{{ template.name | handle }} {{ template.name }}-{{ template.suffix }} {{ template.name | append: '-' | append: handle }} {% if cart.item_count == 0 %}cart-empty{% endif %}
{%- endcapture -%}

{% liquid
  assign enable_rtl = settings.enable_rtl
  assign language_support_rtl = settings.language_support_rtl
  if enable_rtl and language_support_rtl != blank
    assign shop_locale = localization.language.iso_code
    assign language_support_rtl_list = language_support_rtl | split: ','
    assign is_rtl = language_support_rtl_list | where: shop_locale
    if is_rtl.size > 0
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}
<!doctype html>
<html
  class="no-js supports-no-cookies"
  lang="{{ request.locale.iso_code }}"
  data-template="{{ template.name }}"
  {% if enable_rtl %}dir="rtl"{% endif %}
>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="{{ settings.color_primary }}">
  
  {%- liquid
    render 'preload'
    render 'SEO'
    render 'social-meta-tags'
    render 'font-face'
  -%}

  {% render 'critical-css' %}
  {% render 'critical-scripts' %}
  {% render 'style-tags' %}
  {% render 'custom-code-head' %}

  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'chunk.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'theme-global.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.min.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'lazy-image.min.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
{% capture cur %}{% include "booster-currency" %}{% endcapture %}{% unless cur contains "Liquid error" %}{{ cur }}{% endunless %}
</head>

<body>{{ content_for_layout }}</body>
</html>
